<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sourceforge.tagsea.parsed.standardComment">
      <definition
            fileAssociations="*.c,*.cpp,*.cc,*.c++,*.h,*.hpp,*.hh"
            kind="net.sourceforge.tagse.parsed.perl.waypoint"
            name="Parsed C/C++ Tagging"
            presentation="net.sourceforge.tagsea.parsed.perl.CWaypointPresentation">
         <singleline
               open="//">
         </singleline>
         <exclusion
               close="&apos;"
               open="&apos;">
         </exclusion>
         <exclusion
               close="&quot;"
               open="&quot;">
         </exclusion>
         <multiline
               close="*/"
               open="/*">
         </multiline>
      </definition>
   </extension>

</plugin>
