<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sourceforge.tagsea.waypoint">
      <waypoint
            class="net.sourceforge.tagsea.java.waypoints.JavaWaypointDelegate"
            name="Java Waypoint"
            type="javaWaypoint"
            ui="net.sourceforge.tagsea.java.JavaWaypointUI">
         <attribute
               label="Java Element"
               name="javaElement"
               type="string"/>
         <parent type="net.sourceforge.tagsea.resources.resourceInterface"/>
         <parent type="net.sourceforge.tagsea.text"/>
      </waypoint>
   </extension>
   <extension
         id="parseProblem"
         name="Java Markers"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
   </extension>
   
   <extension id="waypointmarker" point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
      <attribute name="tags"/>
      <attribute name="author"/>
      <attribute name="date"/>
      <attribute name="javaElement"/>
      <super type="net.sourceforge.tagsea.waypointmarker"/>
   </extension>
   
        

  
   <!-- the "markerType" *must* be fully qualified - prefix with the plugin name -->
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type 
      	 	name="net.sourceforge.tagsea.java.waypointannotation"
			markerType="net.sourceforge.tagsea.java.waypointmarker">
	  </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationImageProvider="net.sourceforge.tagsea.java.resources.internal.JavaWaypointAnnotationImageProvider"
             annotationType="net.sourceforge.tagsea.java.waypointannotation"
             colorPreferenceKey="AnnotationColor"
             colorPreferenceValue="95,238,255"
             contributesToHeader="false"
             highlightPreferenceKey="HighLight"
             highlightPreferenceValue="false"
             includeOnPreferencePage="true"
             label="Java Waypoint Annotation"
             overviewRulerPreferenceKey="OverviewRuler"
             overviewRulerPreferenceValue="true"
             presentationLayer="1"
             symbolicIcon="info"
             textPreferenceKey="AnnotationOccurance"
             textPreferenceValue="false"
             textStylePreferenceKey="AnnotationTextStyle"
             textStylePreferenceValue="NONE"
             verticalRulerPreferenceKey="VerticalRuler"
             verticalRulerPreferenceValue="true"/>
   </extension>
   <extension
         id="JavaWaypointCompletionProposalComputer"
         name="Java Waypoint Completion Proposa lComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            class="net.sourceforge.tagsea.java.autocomplete.internal.WaypointCompletionProposalComputer">
         <partition type="__java_singleline_comment"/>
         <partition type="__java_multiline_comment"/>
         <partition type="__java_javadoc"/>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="net.sourceforge.tagsea.java.resources.internal.DateAuthorQuickFix"
            markerType="net.sourceforge.tagsea.java.waypointmarker"/>
   </extension>
   <extension
         point="net.sourceforge.tagsea.filters">
      <filter
            class="net.sourceforge.tagsea.java.waypoints.WaypointFilter"
            ui="net.sourceforge.tagsea.java.waypoints.WaypointFilterUI"
            waypointType="net.sourceforge.tagsea.java.javaWaypoint"/>
   </extension>
   <!-- End Custom Marker Support -->

</plugin>
