<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="standardComment" name="Standard Comment Waypoints" schema="schema/standardComment.exsd"/>
   <extension-point id="parsedWaypoint" name="Parsed Waypoint Definition" schema="schema/parsedWaypoint.exsd"/>
   <extension-point id="parsedWaypointCategory" name="Parsed Waypoint Category" schema="schema/parsedWaypointCategory.exsd"/>
   <extension
         point="net.sourceforge.tagsea.waypoint">
      <waypoint
            class="net.sourceforge.tagsea.parsed.core.internal.ParsedWaypointDelegate"
            name="Parsed Tags"
            type="parsedWaypoint"
            ui="net.sourceforge.tagsea.parsed.core.internal.ParsedWaypointUI">
         <parent
               type="net.sourceforge.tagsea.resources.resourceInterface">
         </parent>
         <parent
               type="net.sourceforge.tagsea.text">
         </parent>
         <attribute
               label="Domain Object"
               name="domainObject"
               type="string">
         </attribute>
         <attribute
               label="Kind"
               name="waypointKind"
               type="string">
         </attribute>
      </waypoint>
   </extension>
   <extension
         id="net.sourceforge.tagsea.parse.problemMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="marker"
         name="Parsed Waypoint Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="net.sourceforge.tagsea.waypointmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="domainObject">
      </attribute>
      <attribute
            name="waypointKind">
      </attribute>
      <attribute
            name="author">
      </attribute>
      <attribute
            name="date">
      </attribute>
      <attribute
            name="tags">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="net.sourceforge.tagsea.parsed.marker"
            name="net.sourceforge.tagsea.parsed.waypointannotation">
      </type>
      <type
            markerType="net.sourceforge.tagsea.parse.problemMarker"
            name="net.sourceforge.tagsea.parsed.problem">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="net.sourceforge.tagsea.parsed.core.internal.ParsedWaypointAnnotationImageProvider"
            annotationType="net.sourceforge.tagsea.parsed.waypointannotation"
            colorPreferenceKey="AnnotationColor"
            colorPreferenceValue="95,238,255"
            contributesToHeader="false"
            highlightPreferenceKey="HighLight"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Parsed Waypoint Annotation"
            overviewRulerPreferenceKey="OverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            symbolicIcon="info"
            textPreferenceKey="AnnotationOccurance"
            textPreferenceValue="false"
            textStylePreferenceKey="AnnotationTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="VerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationImageProvider="net.sourceforge.tagsea.parsed.core.internal.resources.ProblemAnnotationImageProvider"
            annotationType="net.sourceforge.tagsea.parsed.problem"
            colorPreferenceKey="AnnotationColor"
            colorPreferenceValue="192,192,60"
            contributesToHeader="false"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="Waypoint Parse Problem"
            overviewRulerPreferenceKey="AnnotationOverview"
            overviewRulerPreferenceValue="true"
            presentationLayer="2"
            symbolicIcon="warning"
            textPreferenceKey="AnnotationText"
            textPreferenceValue="false"
            textStylePreferenceKey="AnnotationTextStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="AnnotationVertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="net.sourceforge.tagsea.parsed.core.internal.resources.ProblemMarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.sourceforge.tagsea.preferences"
            class="net.sourceforge.tagsea.parsed.ui.internal.preferences.ParsedWaypointPreferencePage"
            id="net.sourceforge.tagsea.parsed.ui.internal.preferences.ParsedWaypointPreferencePage"
            name="Parsed Tags">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sourceforge.tagsea.parsed.ui.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="net.soruceforge.tagsea.parsed.standard"
         name="Standard Comment Waypoints"
         point="net.sourceforge.tagsea.parsed.parsedWaypointCategory">
   </extension>
   <extension
         point="net.sourceforge.tagsea.filters">
      <filter
            class="net.sourceforge.tagsea.parsed.ui.internal.filters.WaypointFilter"
            ui="net.sourceforge.tagsea.parsed.ui.internal.filters.WaypointFilterUI"
            waypointType="net.sourceforge.tagsea.parsed.parsedWaypoint">
      </filter>
   </extension>

</plugin>
