<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2007/06/15 19:12:10 delmyers Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "net.sourceforge.tagsea.logging" 
       class = "net.sourceforge.tagsea.logging.LoggingPackage" />
  </extension>

</plugin>

